{% extends "@admin/layout.html.twig" %}

{% block title "Editer la catégorie" %}

{% block body %}

	{% if errors != null %}
		<pre>
	{{ dump(errors) }}
</pre>
	{% endif %}

	<h1>Editer la catégorie {{item.name}}</h1>

	<form action="{{path(routePrefix ~ '.edit', {id: item.id})}}" method="post">
		{% include viewPath ~ '/form.html.twig' %}
		<button type="submit" class="btn btn-primary">Editer</button>
	</form>
{% endblock %}
