<li class="nav-item">
	<a href="{{ path('blog.admin.index') }}" class="nav-link {{is_subpath('blog.admin.index') ? 'active'}}">Articles</a>
</li>
<li class="nav-item">
	<a href="{{ path('blog.categories.admin.index') }}" class="nav-link {{is_subpath('blog.categories.admin.index') ? 'active'}}">Catégories</a>
</li>
<script>
</script>
